In [10]:
import pandas as pd
import numpy as np

In [11]:
"""Lê um arquivo csv e converte os dados no formato de dataframe
"""
df = pd.read_csv('../data/disciplinas-ppc-2017.csv')
df.head()

,codigo,nome,categoria,creditos,pre_requisitos,periodo,quantidade_vagas,areas,dicas,sigla
0,1411311,Fundamentos de Matemática para Ciência da Comp...,Obrigatório,4,-,1,"120, 130",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,FMCC1
1,1411167,Programação I,Obrigatório,4,-,1,"110, 120",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,P1
2,1411180,Laboratório de Programação I,Obrigatório,4,-,1,"140, 120",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,LP1
3,1411174,Introdução à Computação,Obrigatório,4,-,1,"105, 96",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,IC
4,1411312,Fundamentos de Matemática para Ciência da Comp...,Obrigatório,4,1411311,2,"100, 100",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,FMCC2

In [12]:
"""Transforma a lista de pre-requisitos em uma lista de colunas de um novo dataframe
"""
arestas = df.pre_requisitos.apply(lambda x: pd.Series(np.nan if str(x) == "-" else str(x).split(",")))
arestas.head(10)

         0         1    2
0      NaN       NaN  NaN
1      NaN       NaN  NaN
2      NaN       NaN  NaN
3      NaN       NaN  NaN
4  1411311       NaN  NaN
5  1411311       NaN  NaN
6  1411167   1411180  NaN
7  1411167   1411180  NaN
8  1411312       NaN  NaN
9  1109103       NaN  NaN

In [13]:
"""Mescla as novas colunas criadas no passo anterior ao dataframe das disciplinas
"""
arestas = arestas.merge(df, right_index = True, left_index = True)
arestas.head(8)

,0,1,2,codigo,nome,categoria,creditos,pre_requisitos,periodo,quantidade_vagas,areas,dicas,sigla
0,NaN,NaN,NaN,1411311,Fundamentos de Matemática para Ciência da Comp...,Obrigatório,4,-,1,"120, 130",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,FMCC1
1,NaN,NaN,NaN,1411167,Programação I,Obrigatório,4,-,1,"110, 120",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,P1
2,NaN,NaN,NaN,1411180,Laboratório de Programação I,Obrigatório,4,-,1,"140, 120",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,LP1
3,NaN,NaN,NaN,1411174,Introdução à Computação,Obrigatório,4,-,1,"105, 96",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,IC
4,1411311,NaN,NaN,1411312,Fundamentos de Matemática para Ciência da Comp...,Obrigatório,4,1411311,2,"100, 100",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,FMCC2
5,1411311,NaN,NaN,1109103,Cálculo Diferencial e Integral I,Obrigatório,4,1411311,2,"20, 160",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,CALCULO1
6,1411167,1411180,NaN,1411168,Programação II,Obrigatório,4,"1411167, 1411180",2,"95, 100",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,P2
7,1411167,1411180,NaN,1411181,Laboratório de Programação II,Obrigatório,4,"1411167, 1411180",2,"105, 90",NaN,https://github.com/OpenDevUFCG/Tamburetei/tree...,LP2

In [14]:
"""Após remover as colunas, são deixadas apenas as colunas dos pré-requisitos e do código da disciplina
"""
arestas = arestas.drop(list(set(df) - set(['codigo'])), axis = 1)
arestas.head(8)

         0         1    2   codigo
0      NaN       NaN  NaN  1411311
1      NaN       NaN  NaN  1411167
2      NaN       NaN  NaN  1411180
3      NaN       NaN  NaN  1411174
4  1411311       NaN  NaN  1411312
5  1411311       NaN  NaN  1109103
6  1411167   1411180  NaN  1411168
7  1411167   1411180  NaN  1411181

In [15]:
"""
"""
arestas = arestas.melt(id_vars = ['codigo'], value_name = 'pre_requisito')
arestas.head()

    codigo variable pre_requisito
0  1411311        0           NaN
1  1411167        0           NaN
2  1411180        0           NaN
3  1411174        0           NaN
4  1411312        0       1411311

In [ ]:
"""
"""
arestas = arestas.drop('variable', axis = 1)

In [ ]:
arestas = arestas.dropna()

In [ ]:
arestas.columns = ['cod_disciplina', 'cod_pre_requisito']
arestas.to_csv('../data/relacionamentos-disciplinas-ppc2017.csv', index=False)